<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Бес</title>
	<link rel="stylesheet" href="php/css/main.css">
	<link rel='stylesheet' id='style-css'  href="php/css/diapo.css" type='text/css' media='all'> 
    <script type='text/javascript' src="php/js/jquery.min.js"></script>
	<script type='text/javascript' src="php/js/jquery.mobile-1.0rc2.customized.min.js"></script>
	<script type='text/javascript' src="php/js/jquery.easing.1.3.js"></script> 
	<script type='text/javascript' src="php/js/jquery.hoverIntent.minified.js"></script> 
	<script type='text/javascript' src="php/js/diapo.js"></script> 
	
	<script>
		$(function(){
			$('.pix_diapo').diapo();
});
	</script>			
</head>
<body>
	<header>
		<div class="container">
			<div class = "header">
				<img src="php/img/logo-ru.png" alt="Witcher" class="logo">
				<form>
					<input placeholder="Поиск" type="search">
				</form>
				<nav>
					<ul class ="menu">	
						<li><a href="index.html">Главная</a></li>
						<li><a href="#">Содержание</a></li>
						<li><a href="#">Контакты</a></li>
						<li><a href="#">Регистрация</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</header>
	<section class="first_cont">
		<div class="container">
        </div>            
	</section>
	<section>
		<h1>
			
		</h1>
	</section>
	<div class="bestii">
	
	<h1 class="oform"><a href="Полуночница.html"><img src="php/img/бестии/влево.png" align="left" width="100" 
   height="100" ></a> ~ Бес ~  <a href="Прибожек.html"><img src="php/img/бестии/вправо.png" align="right" width="100" 
   height="100" ></a></h1>
	<img src="php/img/бестии/Бес.jpeg" class="oform" >
	
	<h2 class="oform">Класс:</h2>
	<p>* Реликты</p>
	
	<h2 class="oform">Виды:</h2>
	<p>* Морвудд</p>
	<p>* Черт</p>
	<h2 class="oform">Тип:</h2>
	<p>* Одиночки</p>
	
	<h2 class="oform">Описание:</h2>

	<p>Бесы - это ходячая гора мускулов, увенчанная рогатой головой с пастью, полной острых зубов. Как и его более редкий родственник, бука, бес живет в густых чащах, в топях и на болотах. Когда это возможно, он избегает людей. Но если этого не удается, то убивает их безо всякого труда. </p>
	<p> Бесы и буки чрезвычайно опасны хотя бы из-за своих размеров. Одного удара могучей лапы такого существа достаточно, чтобы убить коня вместе со всадником, с головы до ног закованным в броню.</p>

<h2 class="oform">Где обитает:</h2>
	<p>* Леса Велена</p> 
		<p>* Острова Скеллиге.</p> 
	<h2 class="oform">Тактика:</h2>
	<p> Ведьмаку стоит использовать Знак Квен и уклонения, ибо попадать под его удары очень рискованно. Также в бою помогут масло против реликтов и Знак Игни, так как тварь очень хорошо горит.</p>
	<p>Наибольший эффект даст совмещение ударов танцующей звезды и второго уровня Знака Игни. Возможно применение бомб: Чёртов гриб, Самум.</p>
	
	<h2 class="oform">В бою поможет:</h2>
	
	<p>* Знак Игни</p>
	<p>* Масло против реликтов </p>
	<p>* Знак Квен</p>
<p>* Самум (бомба)</p>
	<p>* Северный ветер (бомба)</p>
	<h2 class="oform">Иммунитет:</h2>
	<p>* Неизвестно</p>
	
	
	<h2 class="oform">Можно получить</h2>
	
	<p>* Глаз беса</p>
 <p>* Малый красный мутаген</p>
	<p>* Мутаген из беса</p>
	<p>* Помет беса</p>
	<p>* Коготь чудовища</p>
	
	</div>
	<footer>
	</footer>
</body>

</html>