<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Гарпия</title>
	<link rel="stylesheet" href="php/css/main.css">
	<link rel='stylesheet' id='style-css'  href="php/css/diapo.css" type='text/css' media='all'> 
    <script type='text/javascript' src="php/js/jquery.min.js"></script>
	<script type='text/javascript' src="php/js/jquery.mobile-1.0rc2.customized.min.js"></script>
	<script type='text/javascript' src="php/js/jquery.easing.1.3.js"></script> 
	<script type='text/javascript' src="php/js/jquery.hoverIntent.minified.js"></script> 
	<script type='text/javascript' src="php/js/diapo.js"></script> 
	
	<script>
		$(function(){
			$('.pix_diapo').diapo();
});
	</script>			
</head>
<body>
	<header>
		<div class="container">
			<div class = "header">
				<img src="php/img/logo-ru.png" alt="Witcher" class="logo">
				<form>
					<input placeholder="Поиск" type="search">
				</form>
				<nav>
					<ul class ="menu">	
						<li><a href="index.html">Главная</a></li>
						<li><a href="#">Содержание</a></li>
						<li><a href="#">Контакты</a></li>
						<li><a href="#">Регистрация</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</header>
	<section class="first_cont">
		<div class="container">
        </div>            
	</section>
	<section>
		<h1>
			
		</h1>
	</section>
	<div class="bestii">
	
	<h1 class="oform"><a href="Василиск.html"><img src="php/img/бестии/влево.png" align="left" width="100" 
   height="100" ></a> ~ Гарпия ~  <a href="Грифон.html"><img src="php/img/бестии/вправо.png" align="right" width="100" 
   height="100" ></a></h1>
	<img src="php/img/бестии/Гарпия.jpg" class="oform" >
	
	<h2 class="oform">Класс:</h2>
	<p>* Гибриды</p>
	
	<h2 class="oform">Виды:</h2>
	<p>* Эринии</p>
	<p>* Келайно</p>
	<h2 class="oform">Тип:</h2>
	<p>* Стайные</p>
	
	<h2 class="oform">Описание:</h2>
	<p> Сложно сказать, что более отвратительно в гарпиях и родственных им шишигах. Их ужасный вид, исходящий от них смрад падали и птичьего помета или пронзительный писк, который они издают. Достаточно сказать, что даже крысы, привыкшие резвиться в сточных каналах и помойках, обходят их гнезда далеко стороной.</p>
	


<h2 class="oform">Где обитает:</h2>
	<p>* Велен</p> 
		<p>* Скеллиге</p> 
		
	
	<h2 class="oform">Тактика:</h2>
	<p> Постарайтесь прижаться к скале — так вы сможете помешать гарпиям вернутся в небо. Чтобы сбить гарпий, используйте знак Аард или вовремя нанесите удар мечом. Если противники летают близко друг к другу, используйте Картечь.</p>
	
	
	<h2 class="oform">В бою поможет:</h2>
	
	<p>* Масло против гибридов</p>
	<p>* Знак Аард</p>
	
	<p>* Картечь (бомба)</p>
	
	<h2 class="oform">Иммунитет:</h2>
	<p>* Неизвестно</p>
	
	
	<h2 class="oform">Можно получить</h2>
	
	<p>* Когти гарпии</p>
 
	<p>* Перья гарпии</p>
	<p>* Яйца гарпии</p>
	<p>* Когти чудовища</p>
	<p>* Перо чудовища</p>
	<p>* Печень чудовища</p>
	<p>* Сердце чудовища</p>
	<p>* Яйцо чудовища</p>
	<p>* Дымные осколки</p>
	</div>
	<footer>
	</footer>
</body>

</html>