<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Мгляк</title>
	<link rel="stylesheet" href="php/css/main.css">
	<link rel='stylesheet' id='style-css'  href="php/css/diapo.css" type='text/css' media='all'> 
    <script type='text/javascript' src="php/js/jquery.min.js"></script>
	<script type='text/javascript' src="php/js/jquery.mobile-1.0rc2.customized.min.js"></script>
	<script type='text/javascript' src="php/js/jquery.easing.1.3.js"></script> 
	<script type='text/javascript' src="php/js/jquery.hoverIntent.minified.js"></script> 
	<script type='text/javascript' src="php/js/diapo.js"></script> 
	
	<script>
		$(function(){
			$('.pix_diapo').diapo();
});
	</script>			
</head>
<body>
	<header>
		<div class="container">
			<div class = "header">
				<img src="php/img/logo-ru.png" alt="Witcher" class="logo">
				<form>
					<input placeholder="Поиск" type="search">
				</form>
				<nav>
					<ul class ="menu">	
						<li><a href="index.html">Главная</a></li>
						<li><a href="#">Содержание</a></li>
						<li><a href="#">Контакты</a></li>
						<li><a href="#">Регистрация</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</header>
	<section class="first_cont">
		<div class="container">
        </div>            
	</section>
	<section>
		<h1>
			
		</h1>
	</section>
	<div class="bestii">
	
	<h1 class="oform"><a href="Сильван.html"><img src="php/img/бестии/влево.png" align="left" width="100" 
   height="100" ></a> ~ Мгляк ~  <a href="Леший.html"><img src="php/img/бестии/вправо.png" align="right" width="100" 
   height="100" ></a></h1>
	<img src="php/img/бестии/Мгляк.jpg" class="oform" >
	
	<h2 class="oform">Класс:</h2>
	<p>* Монстры</p>
	
	<h2 class="oform">Тип:</h2>
	<p>* Стайные</p>
	
	<h2 class="oform">Описание:</h2>

	<p>Мгляк – или иначе «существо из тумана». Ареалом его обитания является туманная местность. При этом эти чудища способны сами управлять туманностью ради достижения своих целей. </p>
	<p>Благодаря туману они приглушают звуки, делают невозможным дальнейшее передвижение путников, разделяют их, вводят в заблуждение. Свет, исходящий от их тел, служит некой приманкой для блуждающих странников. С его помощью мгляк способен заманить жертву к краю пропасти, болоту, своему логову и там расправится со своим завтраком.</p> 

<h2 class="oform">Где обитает:</h2>
	<p>* Болотистые местности</p> 
		<p>* Густые леса</p>
<p>* Берега озер</p> 		
	<h2 class="oform">Тактика:</h2>
	<p> Эти чудища способны принимать не материальную форму, которая делает их неуязвимыми к обычному оружию. Чтобы вновь материализовать мгляка необходимо нанести удар знаком Аард. Только в таком состоянии применения оружия против этих чудищ вновь становится целесообразным.</p>
	
	
	<h2 class="oform">В бою поможет:</h2>
	
	<p>* Знак Аард</p>
	<p>* Меч</p>
	
	<h2 class="oform">Иммунитет:</h2>
	<p>* Оружие (когда они в нематериальной форме)</p>
	
	

 <p>
	
	</div>
	<footer>
	</footer>
</body>

</html>