<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Прибожек</title>
	<link rel="stylesheet" href="php/css/main.css">
	<link rel='stylesheet' id='style-css'  href="php/css/diapo.css" type='text/css' media='all'> 
    <script type='text/javascript' src="php/js/jquery.min.js"></script>
	<script type='text/javascript' src="php/js/jquery.mobile-1.0rc2.customized.min.js"></script>
	<script type='text/javascript' src="php/js/jquery.easing.1.3.js"></script> 
	<script type='text/javascript' src="php/js/jquery.hoverIntent.minified.js"></script> 
	<script type='text/javascript' src="php/js/diapo.js"></script> 
	
	<script>
		$(function(){
			$('.pix_diapo').diapo();
});
	</script>			
</head>
<body>
	<header>
		<div class="container">
			<div class = "header">
				<img src="php/img/logo-ru.png" alt="Witcher" class="logo">
				<form>
					<input placeholder="Поиск" type="search">
				</form>
				<nav>
					<ul class ="menu">	
						<li><a href="index.html">Главная</a></li>
						<li><a href="#">Содержание</a></li>
						<li><a href="#">Контакты</a></li>
						<li><a href="#">Регистрация</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</header>
	<section class="first_cont">
		<div class="container">
        </div>            
	</section>
	<section>
		<h1>
			
		</h1>
	</section>
	<div class="bestii">
	
	<h1 class="oform"><a href="Бес.html"><img src="php/img/бестии/влево.png" align="left" width="100" 
   height="100" ></a> ~ Прибожек ~  <a href="Допплер.html"><img src="php/img/бестии/вправо.png" align="right" width="100" 
   height="100" ></a></h1>
	<img src="php/img/бестии/Прибожек.jpeg" class="oform" >
	
	<h2 class="oform">Класс:</h2>
	<p>* Реликты</p>
	
	
	<h2 class="oform">Тип:</h2>
	<p>* Одиночки</p>
	
	<h2 class="oform">Описание:</h2>

	<p>Прибожки, или убожики, которых часто путают с ярошиками, это лесные существа, живущие в норах и трухлявых пнях деревьев, всегда вблизи людских поселений. Внешним видом и поведением они напоминают детей, и также, как дети, они склонны к шалостям. </p>
	<p> Прибожки привязаны к своей территории и опекают всё, что на ней живёт. Они заботятся как о зверях, так и о людях, но будучи по натуре существами робкими, стараются оставаться невидимыми. Прибожков привлекают радость и наивность, поэтому они любят детей и нередко открываются именно им.</p>
<p>Эти трудолюбивые и умные создания с удовольствием оказывают своим подопечным мелкие услуги, а взамен ожидают от них уважения и оплаты в виде еды или использованных инструментов. Прибожка легко обидеть, если быть с ним грубым, неблагодарным или просто придирчивым. Кроме того, прибожки не любят лишнего шума. Поэтому если опекаемая ими деревня становится слишком людной, а её жители забывают о прежних обычаях, эти существа покидают свой дом навсегда и отправляются в дальние дали.</p>
<h2 class="oform">Где обитает:</h2>
	<p>* Лесные и болотные территории</p> 
		
	
	
	
	
	</div>
	<footer>
	</footer>
</body>

</html>